<!-- Topbar Search -->

<form >
    <div class="container">

        <div class="card border-0 shadow-lg mx-auto my-1 " style="max-width:500px; ">

            <!-- Nested Row within Card Body -->
            <div class="row">

                <div class="p-5">

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input formControlName="nombres" name="nombres" type="text"
                                class="form-control form-control-user" id="nombres" placeholder="Nombres" readonly>
                        </div>
                        <div class="col-sm-6">
                            <input formControlName="apellidos" name="apellidos" type="text"
                                class="form-control form-control-user" id="apellidos" placeholder="Apellidos" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input formControlName="cedula" name="cedula" type="text" class="form-control form-control-user" 
                                id="cedula" placeholder="Cedula" readonly>
                        </div>
                        <div class="col-sm-6">
                            <input formControlName="cuidad" name="cuidad" type="text" class="form-control form-control-user"
                                id="cuidad" placeholder="Cuidad" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input formControlName="celular" name="celular" type="text"
                                class="form-control form-control-user" id="celular" placeholder="Celular" readonly>
                        </div>
                        <div class="col-sm-6">
                            <input formControlName="age" name="age" type="text" class="form-control form-control-user"
                                id="age" placeholder="Age" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="direccion" name="direccion" type="text"
                            class="form-control form-control-user" id="direccion" placeholder="Direccion del domicilio"
                            readonly>
                    </div>
                    <div class="form-group">
                        <input formControlName="email" name="email" type="email" class="form-control form-control-user"
                            id="email" placeholder="Email Address" readonly>
                    </div>
                    <div >
                        <button   style="margin-left: 30%;"  class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fa-sharp fa-regular fa-pen-to-square"></i>
                            </span>
                            <span class="text">Editar Usuario</span>
                        </button>
                    </div >
                    
                </div>
            
            </div>
        </div>

    </div>
</form>