.container {
    margin-top: 50px;
}

.card {
    border-radius: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control-user {
    border-radius: 10px;
}

.btn-primary {
    border-radius: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

