<div class="card modal tam">
    <div class="container-fluid" >
        <br>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold  txt"><i class="fa-solid fa-cart-shopping"></i>Productos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>IdItem</th>
                                <th>Codigo de producto</th>
                                <th>Nombre de producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                
                                <th>Acción</th>
                            </tr>
                        </thead>
                       
                        <tbody>
                            <tr *ngFor="let product of prod_fami_query">
                                <td>{{product.idProducto}}</td>
                                <td>{{product.codigoProducto}}</td>
                                <td>{{product.nombreProducto}}</td>
                                <td>{{product.precio}}</td>
                                <td>{{product.stock}}</td>
                                
                                <td>
                                    <button (click)="agregarItem(product.idProducto)" (click)="cerrarModal()" type="button" class="btn btn-primary btn-sm mx-2">
                                        <i class="fa-solid fa-plus"></i>
                                </button>
                            </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button   (click)="cerrarModal()" type="button" class="btn btn-danger btn-sm mx-2">
        <i class="fa-solid fa-door-open"></i> Cerrar
</button>
      
    
  </div>